h1 {

    overflow: hidden;
    text-align: center;
    user-select: none;

}
  
  h1:before, h1:after {

    background-color: lightgray;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 50%;
    top: 12px;

}
  
h1:before {

    right: 0.5em;
    margin-left: -50%;

}


h1:after {

    left: 0.5em;
    margin-right: -50%;

}